###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Shell files should use LF.
###############################################################################
*.sh      eol=lf
